<button class="btn btn-secondary" (click)="logout()">Logout</button>
<div class="row d-flex justify-content-center min-vh-100 align-items-center">
  <div class="card" style="width: 18rem">
    <img
      src="/assets/angular-firebase.png"
      class="card-img-top"
      alt="Yazılım Mektebi | Angular Firebase Auth"
    />
    <div class="card-body">
      <h5 class="card-title">Welcome to Home Page !</h5>
      <p class="card-text">
        Admin Sayfasına geçiş yapmak için lütfen linke tıklayınız.
      </p>
      <a href="/dashboard" class="btn btn-primary">Go Dashboard</a>
    </div>
  </div>
</div>
