<div class="row d-flex justify-content-center min-vh-100 align-items-center">
  <div class="col-4">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button
          class="nav-link active"
          id="nav-signin-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-signin"
          type="button"
          role="tab"
          aria-controls="nav-signin"
          aria-selected="true"
        >
          Sign In
        </button>
        <button
          class="nav-link"
          id="nav-signup-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-signup"
          type="button"
          role="tab"
          aria-controls="nav-signup"
          aria-selected="false"
        >
          Sign Up
        </button>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div
        class="tab-pane fade show active"
        id="nav-signin"
        role="tabpanel"
        aria-labelledby="nav-signin-tab"
        tabindex="0"
      >
        <form
          class="d-flex flex-column justify-content-center"
          [formGroup]="signInForm"
          (ngSubmit)="signIn()"
        >
          <img
            class="my-4 mx-auto"
            src="assets/angular-firebase.png"
            alt="Yazılım Mektebi | Angular Firabase Auth"
            width="128"
            height="128"
          />
          <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

          <div class="form-floating mb-4">
            <input
              type="email"
              class="form-control"
              id="signInEmail"
              formControlName="email"
            />
            <label for="signInEmail">Email address</label>
            <small
              class="text-danger"
              *ngIf="
                signInForm.get('email')?.invalid &&
                (signInForm.get('email')?.dirty ||
                  signInForm.get('email')?.touched)
              "
              >Lütfen geçerli bir mail giriniz!</small
            >
          </div>
          <div class="form-floating mb-4">
            <input
              type="password"
              class="form-control"
              id="signInPassword"
              formControlName="password"
            />
            <label for="signInPassword">Password</label>
            <small
              class="text-danger"
              *ngIf="
                signInForm.get('password')?.invalid &&
                (signInForm.get('password')?.dirty ||
                  signInForm.get('password')?.touched)
              "
              >Lütfen geçerli bir şifre giriniz.</small
            >
          </div>

          <div class="d-flex justify-content-between">
            <button
              class="w-100 btn btn-lg btn-primary me-5"
              type="submit"
              [disabled]="signInForm.invalid"
            >
              Sign in
            </button>
            <img
              class="btn"
              src="/assets/gmail-logo.png"
              alt="gmail logo"
              height="64"
              (click)="signInWithGmail()"
            />
          </div>
          <p class="mt-5 mb-3 text-muted">© 2017–2022</p>
        </form>
      </div>
      <div
        class="tab-pane fade"
        id="nav-signup"
        role="tabpanel"
        aria-labelledby="nav-signup-tab"
        tabindex="0"
      >
        <form
          class="d-flex flex-column justify-content-center"
          [formGroup]="signUpForm"
          (ngSubmit)="signUp()"
        >
          <img
            class="my-4 mx-auto"
            src="assets/angular-firebase.png"
            alt="Yazılım Mektebi | Angular Firabase Auth"
            width="128"
            height="128"
          />
          <h1 class="h3 mb-3 fw-normal">Please sign Up</h1>

          <div class="form-floating mb-4">
            <input
              type="email"
              class="form-control"
              id="signUpEmail"
              formControlName="email"
            />
            <label for="signUpEmail">Email address</label>
            <small
              class="text-danger"
              *ngIf="
                signUpForm.get('email')?.invalid &&
                (signUpForm.get('email')?.dirty ||
                  signUpForm.get('email')?.touched)
              "
              >Lütfen geçerli bir email giriniz.</small
            >
          </div>
          <div class="form-floating mb-4">
            <input
              type="password"
              class="form-control"
              id="signUpPassword"
              formControlName="password"
            />
            <label for="signUpPassword">Password</label>
            <small
              class="text-danger"
              *ngIf="
                signUpForm.get('password')?.invalid &&
                (signUpForm.get('password')?.dirty ||
                  signUpForm.get('password')?.touched)
              "
              >Lütfen geçerli bir şifre giriniz.</small
            >
          </div>

          <div class="d-flex justify-content-between">
            <button
              class="w-100 btn btn-lg btn-primary me-5"
              type="submit"
              [disabled]="signUpForm.invalid"
            >
              Sign Up
            </button>
            <img
              class="btn"
              src="/assets/gmail-logo.png"
              alt="gmail logo"
              height="64"
              (click)="signInWithGmail()"
            />
          </div>
          <p class="mt-5 mb-3 text-muted">© 2017–2022</p>
        </form>
      </div>
    </div>
  </div>
</div>
